on boot
    # Stop thermanager for intellithermal
    stop thermanager
    # RZ's minimum freq is 268MHz and maximum freq is 2,5GHz
    # However, let's use the default of 2,26GHz, because it's
    # msm8974ab's default frequency
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2265600

on nonencrypted
    # zzmoove tunables
    #write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "zzmoove"
    #write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "zzmoove"
    #write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "zzmoove"
    #write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "zzmoove"
    #write /sys/devices/system/cpu/cpufreq/zzmoove/profile_number 4
    #write /sys/devices/system/cpu/cpufreq/zzmoove/scaling_responsiveness_freq 883200

    # intelliactive tunables
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "intelliactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "intelliactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "intelliactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "intelliactive"
    write /sys/devices/system/cpu/cpufreq/intelliactive/above_hispeed_delay "19000 1400000:39000 1700000:19000"
    write /sys/devices/system/cpu/cpufreq/intelliactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpufreq/intelliactive/hispeed_freq 1190400
    write /sys/devices/system/cpu/cpufreq/intelliactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/intelliactive/target_loads "85 1497600:90 1728000:95"
    write /sys/devices/system/cpu/cpufreq/intelliactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/intelliactive/sampling_down_factor 100000
    write /sys/devices/system/cpu/cpufreq/intelliactive/timer_rate 30000

    # intelli_plug tunables
    write /sys/module/intelli_plug/parameters/intelli_plug_active 1
    write /sys/module/intelli_plug/parameters/cpu_nr_run_threshold 1000
    write /sys/module/intelli_plug/parameters/touch_boost_active 0

    # intellithermal tunables    
    write /sys/module/msm_thermal_v2/core_control/enabled 1
    write /sys/module/msm_thermal_v2/parameters/enabled 1
    write /sys/module/msm_thermal_v2/parameters/core_limit_temp_degC 85
    write /sys/module/msm_thermal_v2/parameters/limit_temp_degC 70

on property:dev.bootcomplete=1
    # Set RZ's minimum freq on boot completion to prevent conflicts with
    # default ramdisk values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 268800
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 268800
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 268800
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 268800

    # Set max mA current for usb/dc charger
    write /sys/class/power_supply/qpnp-dc/current_max 1800000
    write /sys/class/power_supply/usb/current_max 1500000

    rm /data/system/perfd/default_values

    # Overriding iosched from ramdisk
    setprop sys.io.scheduler row
    # In case the above doesn't work
    write /sys/block/mmcblk0/queue/scheduler row
    # Set separated iosched for SD card
    write /sys/block/mmcblk1/queue/scheduler zen

    write /sys/block/mmcblk0/queue/rq_affinity 0
    write /sys/block/mmcblk1/queue/rq_affinity 0

    # Since we use kernel-space hotplug driver, we don't need mpdecision
    # now, so forcibly stop it (in case it's been started somewhere else)
    stop mpdecision
